#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PLG_PACKAGE = $(filter-out %-dbg, $(shell dh_listpackages))
DBG_PACKAGE = $(filter %-dbg, $(shell dh_listpackages))

UPSTREAM_VERSION=0.2.6.5

.PHONY: override_dh_strip override_dh_auto_install

override_dh_strip:
	dh_strip --dbg-package=$(DBG_PACKAGE)

override_dh_auto_install:
	dh_auto_install --destdir=debian/$(PLG_PACKAGE)

%:
	dh $@ --with vdrplugin

archive:
	git archive --format=tar.gz --prefix=vdr-plugin-restfulapi-${UPSTREAM_VERSION}/ --output=../vdr-plugin-restfulapi_${UPSTREAM_VERSION}.orig.tar.gz master
