#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

.PHONY: override_dh_strip override_dh_auto_install

override_dh_strip:
	dh_strip --dbg-package=vdr-plugin-restfulapi-dbg

override_dh_auto_install:
	LIBDIR=. dh_auto_install --destdir=debian/vdr-plugin-restfulapi

override_dh_gencontrol:
	sh /usr/share/vdr-dev/dependencies.sh
	dh_gencontrol

%:
	dh $@

